:root{
    --primaryColor:#34e910 ;
}

#heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
body{
    background-color: #000000;
    color: var(--primaryColor);
}
#timer{
    font-size: 200px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
#cont{
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 20px;
}
button{
    padding: 15px;
    background-color:var(--primaryColor);
    border-radius: 7px;
}
button:hover{
    border: 2px solid beige;
}